@import './export.scss';

.root {
  position: relative;
  display: flex;
  width: 100%;
  min-height: var(--screen-height, 100vh);
  user-select: none;

  .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    object-fit: cover;
    transition: opacity 1s ease-in-out;

    &[loading="lazy"] {
      display: none;
    }

    &____active {
      opacity: 1;
    }
  }

  &__container {
    max-width: $screen-extra-small;
    padding: 40px 20px;
    margin: auto;
    z-index: 1;

    .counters {
      padding-left: 25px;
      overflow: hidden;
      transition: transform .5s ease-in-out, opacity 1s ease-in-out;
      will-change: transform;
      @extend .text-100;

      &__secondary {
        margin: -50px 0 0 -25px;
        opacity: .25;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  svg {
    position: absolute;
    right: 30px;
    bottom: 30px;
    opacity: 0;
    transition: opacity .25s ease-in-out;

    path:last-child {
      display: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: background-color 1s ease-in-out;
    content: "";
  }

  &____active {

    .counters {
      opacity: 0;
      pointer-events: none;
    }

    svg {
      opacity: .5;
    }

    &:after {
      background-color: transparent;
      pointer-events: none;
    }
  }

  &____zoom {

    .image {
      object-fit: contain;
    }

    svg path {

      &:first-child {
        display: none;
      }

      &:last-child {
        display: initial;
      }
    }
  }

  // 1024px +

  @media screen and (min-width: $screen-large) {

    &__container {
      padding: 60px 30px;

      .counters {
        cursor: pointer;
      }
    }

    svg {
      cursor: pointer;
    }
  }
}