/* Screen */

$screen-extra-small: 375px;
$screen-small: 640px;
$screen-medium: 768px;
$screen-large: 1024px;
$screen-extra-large: 1280px;
$screen-extra-extra-large: 1440px;

/* Color */

$color-white: rgba(255, 255, 255, .9);
$color-black: rgba(0, 0, 0, 1);